<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- {{user | json}} -->
  <form (ngSubmit)="handleSubmit()" #formAdd="ngForm" style="border:1px solid #ccc">
    <div class="container">
      <h1>Sign Up</h1>
      <hr>
      <label for="email"><b>username</b></label>
      <input type="text" placeholder="Enter username"  [(ngModel)]="registerUser.fullname" #username="ngModel"
        name="username" required minlength="2" required>
      <div *ngIf="username.errors?.['required']">name không đẻ trống</div>
      <div *ngIf="username.errors?.['minlength']">name tối thiểu 2 chữ</div>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email"  [(ngModel)]="registerUser.email" #email="ngModel" required
        minlength="2" name="email" required>
      <div *ngIf="email.errors?.['required']">email không đc để trống</div>
      <div *ngIf="email.errors?.['minlength']">name tối thiểu 5 chữ</div>
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password"  [(ngModel)]="registerUser.password" #pass="ngModel" required name="psw" required>
      <div *ngIf="email.errors?.['required']">pass không đc để trống</div>
      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password"  [(ngModel)]="registerUser.password" name="psw-repeat" required>

      <div class="clearfix">
        <button type="login " class="sibtnlink">Sign Up</button>
      </div>
    </div>
  </form>
</body>

</html>